{% extends 'activities.html.twig' %}
{% block masthead %}
    <header class="masthead cut-up">
        <div class="container ">
            <br/>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8" >
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                <!--end of col-->
            </div>
        </div>
    </header>
{% endblock %}
{% block body%}
    <section class="page-section" id="services">
        <div class="container" style="position: relative;top: -150px">
            <h1 style="color: #e4e9f0">Hotels</h1>

            <div class="row text-center">
                {% for hotel in hotels %}
                <div class="col-md-4">
                            <span class="fa-stack fa-4x">
                                <img class="card-img-top" src="/uploads/images/{{hotel.image}}" alt="Card image" style="width:100%">
                            </span>
                    <h4 class="my-3">{{ hotel.nom }}</h4>
                    <p class="text-muted">{{ hotel.description }}</p>
                </div>

             {% endfor %}
            </div>
        </div>

{% endblock %}